lap
loguru
norfair
onnxruntime-gpu==1.12.1
opencv-python==4.5.5.64
scipy
pyyaml
easydict
gdown
pandas
tabulate
typing-extensions==3.10.0.2
wheel
torch
torchvision
numpy==1.23.3
Cython
ultralytics
easyocr==1.6.2