lap
loguru
norfair
numpy==1.23.3
#onnxruntime-gpu==1.12.1
opencv-python
scipy
pyyaml
easydict
gdown
pandas
tabulate
typing-extensions==3.10.0.2
wheel
numpy==1.23.3
asone-ocr
motpy
ultralytics==8.0.109
torchreid==0.2.5
tensorboard
protobuf==3.20
# requirements for coreml
onnxruntime
coremltools
