torch 
torchvision
opencv-python
lap
loguru
norfair
numpy==1.23.3
#onnxruntime-gpu==1.12.1
scipy
pyyaml
easydict
gdown
pandas
tabulate
wheel
numpy==1.23.3
asone-ocr
motpy
ultralytics==8.1.30
torchreid==0.2.5
tensorboard
protobuf==3.20.*
# requirements for coreml
onnxruntime
coremltools
Cython==3.0.9
typing_extensions
super_gradients
cython_bbox
thop
IPython
segment-anything
pillow==9.5.0